Repository apache/eventmesh, pull requests merged in 2022-07, with the labels that each got.

#977 [MINOR] Fix gradlew license header
  .licenserc.yaml
  gradlew
  gradlew.bat
Labels: license

#976 [MINOR] Use Apache release rather than Github release in README
  .github/workflows/ci.yml
  README.md
  README.zh-CN.md
  docs/en/installation/01-runtime.md
  docs/zh/instructions/eventmesh-runtime-quickstart.md
Labels: documentation

#974 [ISSUE #973] zookeeper registry
  build.gradle
  eventmesh-registry-plugin/eventmesh-registry-zookeeper/build.gradle
  eventmesh-registry-plugin/eventmesh-registry-zookeeper/gradle.properties
  eventmesh-registry-plugin/eventmesh-registry-zookeeper/src/main/java/org/apache/eventmesh/registry/zookeeper/constant/ZookeeperConstant.java
  eventmesh-registry-plugin/eventmesh-registry-zookeeper/src/main/java/org/apache/eventmesh/registry/zookeeper/pojo/EventMeshInstance.java
  eventmesh-registry-plugin/eventmesh-registry-zookeeper/src/main/java/org/apache/eventmesh/registry/zookeeper/service/ZookeeperRegistryService.java
  eventmesh-registry-plugin/eventmesh-registry-zookeeper/src/main/resources/META-INF/eventmesh/org.apache.eventmesh.api.registry.RegistryService
  eventmesh-registry-plugin/eventmesh-registry-zookeeper/src/test/java/org/apache/eventmesh/registry/zookeeper/service/ZookeeperRegistryServiceTest.java
  eventmesh-registry-plugin/eventmesh-registry-zookeeper/src/test/resources/log4j.properties
  eventmesh-runtime/build.gradle
  settings.gradle
  tools/dependency-check/known-dependencies.txt
Labels: first time contribute, registry

#966 [ISSUE #917] Add unit tests for EventMesh Runtime for Java
  build.gradle
  eventmesh-runtime/build.gradle
  eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/util/EventMeshUtil.java
  eventmesh-runtime/src/test/java/org/apache/eventmesh/runtime/admin/controller/ClientManageControllerTest.java
  eventmesh-runtime/src/test/java/org/apache/eventmesh/runtime/admin/handler/QueryRecommendEventMeshHandlerTest.java
  eventmesh-runtime/src/test/java/org/apache/eventmesh/runtime/admin/handler/RedirectClientByPathHandlerTest.java
  eventmesh-runtime/src/test/java/org/apache/eventmesh/runtime/util/EventMeshThreadFactoryImplTest.java
  eventmesh-runtime/src/test/java/org/apache/eventmesh/runtime/util/EventMeshUtilTest.java
  eventmesh-runtime/src/test/java/org/apache/eventmesh/runtime/util/HttpTinyClientTest.java
  eventmesh-runtime/src/test/java/org/apache/eventmesh/runtime/util/IOTinyUtilsTest.java
  eventmesh-runtime/src/test/java/org/apache/eventmesh/runtime/util/NetUtilsTest.java
  eventmesh-runtime/src/test/java/org/apache/eventmesh/runtime/util/RemotingHelperTest.java
  eventmesh-runtime/src/test/java/org/apache/eventmesh/runtime/util/WebhookUtilTest.java
Labels: testing

#1025 [ISSUE #997] [Bug] ProducerGroupConf equals method doesn't work
  eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/core/consumergroup/ProducerGroupConf.java
Labels: bug, first time contribute

#907 Apache EventMesh Dashboard - Client Management
  eventmesh-dashboard/.eslintrc.js
  eventmesh-dashboard/.gitignore
  eventmesh-dashboard/README.md
  eventmesh-dashboard/components/Sidebar.tsx
  eventmesh-dashboard/components/client/ClientTable.tsx
  eventmesh-dashboard/components/index/Endpoint.tsx
  eventmesh-dashboard/next-env.d.ts
  eventmesh-dashboard/next.config.js
  eventmesh-dashboard/package.json
  eventmesh-dashboard/pages/_app.tsx
  eventmesh-dashboard/pages/_document.tsx
  eventmesh-dashboard/pages/client.tsx
  eventmesh-dashboard/pages/index.tsx
  eventmesh-dashboard/public/favicon.ico
  eventmesh-dashboard/tsconfig.json
  eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/admin/controller/ClientManageController.java
  eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/admin/handler/ClientHandler.java
  eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/admin/request/DeleteClientRequest.java
  eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/admin/response/Error.java
  eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/admin/response/GetClientResponse.java
  eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/admin/utils/HttpExchangeUtils.java
  eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/admin/utils/JsonUtils.java
  eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/boot/EventMeshServer.java
  eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/boot/EventMeshTCPServer.java
  eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/core/protocol/grpc/consumer/ConsumerManager.java
  eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/core/protocol/grpc/consumer/consumergroup/ConsumerGroupClient.java
  eventmesh-runtime/src/main/java/org/apache/eventmesh/runtime/core/protocol/http/consumer/ConsumerManager.java
Labels: enhancement
